$height: 30px;
$thumb-height: 13px;
$track-height: 3px;

$upper-color: #cfcfcf;
$lower-color: #2a9fd6;
$thumb-color: #2a9fd6;
$thumb-hover-color: #2a9fd6;

$upper-background: linear-gradient(to bottom, $upper-color, $upper-color) 100% 50% / 100% $track-height no-repeat transparent;
$lower-background: linear-gradient(to bottom, $lower-color, $lower-color) 100% 50% / 100% $track-height no-repeat transparent;

.play,
.pause{
  border: none;
  outline: none;
  background-color: transparent;
  color: $lower-color;
}
button:active, button:focus {
  outline: none !important;
}
.audio-player{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}


.volume{
  width: 15%;
}

