.block-answer-options{
    flex: auto;
    margin-right: 15px;

}
.li-btn{
    width: 10px;
    height: 10px;
    background-color: #00000033;
    border-radius: 50%;
    margin-right: 30px;
}

@media (min-width: 0px) and (max-width: 767px) {
    .block-answer-options{
        flex: auto;
        margin-right: 0px;
        margin-bottom: 15px;
    }
}
