.block-victory{
    width: 100%;
    min-height: 50vh;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.block-victory p{
	text-align: center;
}
.btn:focus{
    outline: 0 none;
    box-shadow: none;
}
@media (min-width: 0px) and (max-width: 475px) {
	.block-victory h2{
		font-size: 2rem;
	}
	.image-victory{
		width: 260px;
	}
}