.block-description{
    width: 50%;
    height: 277px;
    background-color: #222;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    overflow-y: auto;
}

  .block-description::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 4px;
      background-color: rgba(0,0,0,0.3);
  }
  .block-description::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color:  #2a9fd683;
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
      
  }
.block-description__item1{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.block-description___img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
}
.block-description__name-bird{
    text-align: start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
    padding-left: 10px;
}
.block-description__name-bird-english{
    text-align: start;
    margin-bottom: 5px;
    padding: 5px 10px ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
}
.block-description__name-bird-english h6{
    margin-bottom: 0;
}
.block-description__audio{
    height: 100%;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin-top: 10px;
}
.description-bird{
margin-top: 10px;
}
@media (min-width: 768px) and (max-width: 1280px) {
    .block-description{
        width: 60%;
       
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    .block-description{
        width: 100%;
        height: auto;  
    }
}
@media (min-width: 320px) and (max-width: 570px) {
  
    .block-description__item1{
       flex-direction: column; 
    }
    .block-description__name-bird{
        margin-top: 15px;
    }
    .block-description__name-bird,
    .block-description__name-bird-english{
        text-align: center;
    }
    .block-description__audio{
padding-left: 0px;
    }
}